:root {
  --PaleBlue: #e0e8ff;
  --BrightBlue: #3829e0;
  --VeryPaleBlue: #f5f7ff;
  --DesaturatedBlue: #7280a7;
  --DarkBlue: #1f2f56;
  --PrimaryFont: 'Red Hat Display', sans-serif;
}

html {
  font-size: 62.5%;
}

/* Layout */

body {
  align-items: center;
  background-image: url(/images/pattern-background-mobile.svg);
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  font-family: var(--PrimaryFont);
  max-width: 340px;
  text-align: center;
  width: 85%;
}

/* Hero */

.background--image img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
  width: 100%;
}

/* Card */

h1 {
  font-weight: 900;
  font-size: 1.75rem;
  color: var(--DarkBlue);
  margin-top: 1.5em;
}

p {
  color: var(--DesaturatedBlue);
  font-size: 1.2rem;
  line-height: 1.5;
}

.plan {
  align-items: center;
  background-color: var(--VeryPaleBlue);
  border-radius: 10px;
  display: flex;
  padding: .2em 0;
  font-size: 1.2rem;
  justify-content: space-around;
  margin: 1.5em auto 0 auto;
  width: 85%;
}

ul {
  list-style: none;
  text-align: left;
  padding-left: 1em;
}

li:first-child {
  font-weight: 900;
  color: var(--DarkBlue);
}

li:nth-child(2) {
  color: var(--DesaturatedBlue);
}

.plan a {
  color: var(--BrightBlue);
  font-weight: 900;
  font-size: .95rem;
}

.plan a:hover {
  text-decoration: none;
  color: var(--DesaturatedBlue);
}

.annual-plan {
  display: flex;
  align-items: center;
}

button {
  background-color: var(--BrightBlue);
  border: none;
  border-radius: 10px;
  box-shadow: 1px 5px 15px var(--DesaturatedBlue);
  color: var(--PaleBlue);
  display: block;
  font-family: var(--PrimaryFont);
  font-size: 1.1rem;
  font-weight: 900;
  margin: 1.5em auto;
  outline: none;
  padding: 1em 4.5em;
}

button:hover {
  background-color: var(--DesaturatedBlue);
  cursor: pointer;
}

small {
  color: var(--DesaturatedBlue);
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 900;
  padding: 0 0 1.5em 0;
}

small:hover {
  cursor: pointer;
  color: var(--DarkBlue);
}

@media (min-width: 550px) {
  body {
    background-color: var(--PaleBlue);
    background-image: url(/images/pattern-background-desktop.svg);
    background-size: cover;
  }
}